.appointment-list{
    padding:20px;
}
.status{
    text-transform: capitalize;
    display: flex!important;
    align-items: center!important;
    color: #fff!important;
    font-weight: bold!important;
}
.table>tbody{
    vertical-align: middle!important;
}

.gr-btn{
    color: #fff!important;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-toggle::after {
    display: none!important;
    
}

.btn-custom{
    background-image: linear-gradient(45deg, #00c0b0, #1CC7C1)!important;
}