/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
.brand-color{
  color:#1CC7C1;
}
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family:sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

p{
  font-family: 'Poppins', sans-serif;
  color:#6c757d!important
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Noto Sans', sans-serif;
}
.brand-bg{
  background-color:#1CC7C1;
}

.navbar1{
  margin:40px 0 20px!important;
}
.title-wrapper{
  align-items: center;
}